.apartments {
  position: relative;

  padding: 80px 0;

  &::after {
    content: "III";
    position: absolute;
    z-index: -1;

    left: -2%;
    top: -10%;
    width: 337px;
    height: 485px;

    opacity: 0.02;
    font-family: var(--font-titles);
    font-size: 400px;
    font-weight: 700;
    line-height: 1.35;

    @media (max-width: 599px) {
      content: unset;
    }
  }

  @media (max-width: 599px) {
    padding: 40px 0;
  }
}

.apartments__title {
  margin-bottom: 86px;

  @media (max-width: 959px) {
    margin-bottom: 44px;
  }
}

.apartments__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;

  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }
}
